setuptools==65.6.3
wheel==0.38.4

setuptools-rust==1.5.2
lxml~=4.6
kombu~=5.1
requests~=2.26
responses~=0.13

Django>=3.0,<4.0
psycopg2>=2.8
celery~=5.1
django-cors-headers~=3.13.0
django-celery-beat~=2.2
djangorestframework~=3.12
django-markdown~=0.8.4
django-filter~=22.1
django-model-utils~=4.1
django-encrypted-model-fields~=0.6
cryptography==38.0.4
unittest-xml-reporting==3.2.0

python-redis-lock[django]==4.0.0
django-revproxy~=0.10
django-jsoneditor==0.2.3
PyJWT~=2.1
django-ratelimit==4.0.0

scrapy==2.7.1
beautifulsoup4==4.11.1
djoser==2.1.0
markdown==3.3

django-templated-email==3.0.0
importlib-metadata==4.13.0
django_celery_results==2.4.0
twisted==22.10.0

django-nose==1.4.7
coverage==7.0.5
billiard==3.6.4.0