@font-face {
    font-family: "Inter";
    src: local("Inter"), url("/public/fonts/Inter-Medium.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* additions here*/
    height: 100vh;
    background-color: #f8f9fb;
}

h2, h3, h1 {
    font-family: 'Inter', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
    background-color: whitesmoke;
    position: fixed;
}

.sidebar-header {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar-item > a > span {
    color: black;
    text-decoration: none;
}

#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.modal-90w {
    max-width: 90vw !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    z-index: 9999;
}

.loginCol {
    margin-top: 100px;
}

.spinner-div > div {
    justify-content: center;
    display: flex;
    position: fixed;
    left: 50%;
}

.spinner {
    height: 100px;
    width: 100px;
    position: relative;
    top: 40vh;
}

.disable-link {
    pointer-events: none;
}

.disable-link > svg {
    color: gray
}

.green {
    background-color: #069C56;
    color: white;
    /*border-color: #069C56 !important;*/
}

.green > td,
.red > td,
.orange > td {
    border: 0 !important;
}

.white,
.green > td > a,
.red > td > a,
.orange > td > a {
    color: white !important;
}

.orange {
    background-color: #FF681E;
    color: white !important;
    border-color: #FF681E !important;
}

.red {
    background-color: #D3212C;
    color: white;
    border-color: #D3212C !important;
}

.logo {
    border: 1px solid black;
    float: right;
}

.breadcrumb {
    background-color: #f8f9fb !important;
}

.tableData {
    height: 50px;
    width: 50px;
}

.tableData svg {
    text-align: center;
    width: 50px;
    vertical-align: middle;
}

.tableBlock > td > p,
.tableBlock > th {
    margin-left: 5px;
}

.button-checklist {
    position: relative;
    bottom: 10px;
}

.statusIcon {
    margin-top: 5px;
    display: inline-block;
    margin-right: 10px;
}

.accordian-drop {
    margin-top: 5px;
    float: right;
}

.text-center {
    text-align: center !important;
}


.display-card {
    border: 1px solid rgba(249, 249, 249, 0.7);
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgb(118 135 154 / 24%), 0 3px 8px 0 rgb(118 135 154 / 8%);
}

.chart {
    min-height: 400px;
}

.recharts-responsive-container {
    height: 400px !important;
}

.thead-page {
    border-color: transparent !important;

}

.display-card-blue {
    border: 1px solid rgba(45, 170, 225, 0.7);
    background-color: #2daae1;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgb(118 135 154 / 24%), 0 3px 8px 0 rgb(118 135 154 / 8%);

}
